<div id="visualinpectiondiv"
	data-ng-controller="visualinspectionController" class="container">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"
			style="background-color: #ddd;">
			<!-- Section for choosing experiment parameters -->
			<form>
				<div class="form-group">
					<label for="visualInspectionTrial">Number of Trials
						(Between 1-100)</label> <input type="number" class="form-control"
						id="visualInspectionTrial" data-ng-disabled="experiment_flag"
						data-ng-model="exp_trial" placeholder="Enter number between 1-100">
				</div>

				<div class="form-group">
					<label for="visualInspectionResistorLength">Select resistor
						length</label>

					<div class="form-check">
						<input class="form-check-input" type="radio"
							data-ng-disabled="experiment_flag"
							data-ng-click="create_resistor(0.8)"
							data-ng-model="resistor_length"
							name="visualInspectionResistoroption1" id="resistorOption1"
							value="0.8"> <label class="form-check-label"
							for="resistorOption1">0.8"</label>
					</div>

					<div class="form-check">
						<input class="form-check-input" type="radio"
							data-ng-disabled="experiment_flag"
							data-ng-click="create_resistor(1.2)"
							data-ng-model="resistor_length"
							name="visualInspectionResistoroption1" id="resistorOption2"
							value="1.2"> <label class="form-check-label"
							for="resistorOption2">1.2"</label>
					</div>

					<div class="form-check">
						<input class="form-check-input" type="radio"
							data-ng-disabled="experiment_flag"
							data-ng-click="create_resistor(1.6)"
							data-ng-model="resistor_length"
							name="visualInspectionResistoroption1" id="resistorOption3"
							value="1.6"> <label class="form-check-label"
							for="resistorOption3">1.6"</label>
					</div>
				</div>

				<button type="submit" class="btn btn-primary btn-block"
					data-ng-disabled="experiment_flag"
					data-ng-click="start_vi_experiment()">Start Experiment</button>
				<br>
				<button type="button" class="btn btn-primary btn-block"
					data-ng-disabled="(experiment_flag)"
					data-ng-click="new_vi_experiment()">New Experiment</button>
				<br>
				<button type="button" class="btn btn-primary btn-block"
					data-ng-disabled="!experiment_flag"
					data-ng-click="exit_vi_experiment()">Exit Experiment</button>
				<br><br><br>
			</form>

		</div>
		<!-- Experiment box -->
		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
		<h1 data-ng-show="show_info_text" class="text-center">{{vi_info_text}}</h1>
		<div id="vi_square"></div>
		</div>
	</div>
	<div class="row">
		<br>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"
			style="background-color: #ddd;">
			<div data-ng-hide="show_result_flag" class="vi_decision_section">
				<p>Hit Z key if resistor lengths are equal or hit slash(/) if
					they are un-equal</p>
				<button id="action_equal" type="button" data-ng-disabled="!experiment_flag || !wait_for_resistor_flag"
					data-ng-click=action_equal() style="width: 78px"
					class="btn btn-success">Equal</button>
				<button id="action_unequal" type="button" data-ng-disabled="!experiment_flag || !wait_for_resistor_flag"
					data-ng-click=action_unequal() style="width: 78px"
					class="btn btn-danger">Unequal</button>
			</div>
			<div data-ng-show="show_result_flag" class="vi_result_section">
				<p>Click on view result button to view the results of the
					experiment</p>
				<button type="button" data-ng-disabled="!show_result_flag"
					data-ng-click=view_vi_result() class="btn btn-success">View
					Results</button>
			</div>
		</div>
	</div>

	<!-- Modal to show information -->
	<div class="modal fade" id="vi_info_Modal" tabindex="-1" role="dialog"
		aria-labelledby="vi_info_Modal_Label" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="vi_info_Modal_Label">{{vi_info_modal_title}}</h2>
				</div>
				<div class="modal-body">{{vi_info_modal_msg}}</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					<button data-ng-show="show_modal_confirm" type="button"
						data-ng-click="reset_exp()" class="btn btn-primary"
						data-dismiss="modal">Yes</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal to show results of experiment -->
	<div class="modal fade" id="vi_result_Modal" tabindex="-1" role="dialog" aria-labelledby="vi_result_Modal_Label"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="vi_result_Modal_Label">Experiment
						Result</h2>
				</div>
				<div class="modal-body result-modal-body">
					<!-- result table section inside modal starts here -->
					<div class="table-responsive">
						<table id="tblVisualInspection" class="table table-bordered">
							<thead>
								<tr>
									<th>Trial</th>
									<th>response time</th>
									<th>response</th>
									<th>lead difference</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="result in result_json">
									<td>{{result.trial}}</td>
									<td>{{result.response_time}} seconds</td>
									<td>{{result.response}}</td>
									<td>{{result.lead_difference}} %</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- result table section inside modal close here -->
				</div>
				<div class="modal-footer">
					<button type="button" value="export" class="btn btn-primary"
						data-ng-click="export_results()" data-dismiss="modal">Download</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


</div>
