<div id="aboutdiv" class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<h1>Get to Know us</h1>
<p>We are Occupational Safety and Ergonomics (OSE) lab. The OSE lab was founded in 2018 by Eunsik Kim, Ph.D. The OSE is a research group devoted to investigating several areas within the fields of human factors and ergonomics, biomechanics, human-machine interface, hand tool design and gamification, with a primary goal of designing 
work environment to improve the workers health and safety.</p>

<p>The OSE lab will play a role not only in providing an ergonomics program that will identify and analyze relevant hazards and propose, implement or monitor potential solutions, but also in developing an ergonomic gamification system that motivates all employees to engage in hazard controls for the purpose of managing, preventing or eliminating hazards after employees’ completion of an ergonomics program provided by OSE lab.</p>
<p>Visit us at official university of Windsor website for OSE by clicking <a href="https://www.uwindsor.ca/engineering/research/434/occupational-safety-and-ergonomics">here</a></p>
</div>
<div class="row">
<h1 class="text-center">Meet Our Team</h1>
<hr>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
        <img src="app/images/eunsik_kim.jpg" class="img-circle person" style="width:360px;height:360px"alt="eunsik kim" width="255" height="255"/>
        <p>Eunsik Kim, Assistant Professor</p>
        <p>University of Windsor</p>
        <p>Ergonomic expert</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
        <img src="app/images/gourav_nayak.jpg" class="img-circle person" style="width:360px;height:360px" alt="gourav nayak" width="255" height="255"/>
        <p>Gourav Nayak, MASc Student</p>
        <p>University of Windsor</p>
        <p>Web design and Machine Learning</p>
    </div>
</div>
</div></div>