<div id="choicereactiontimediv"
	data-ng-controller="choicereactiontimeController" class="container">
	<div id="crt_exp_section" class="row">
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"
			style="background-color: #ddd;">
			<!-- Section for choosing experiment parameters -->
			<form>
				<div class="form-group">
					<label for="choiceReactionTrial">Number of Trials (Between
						1-100)</label> <input type="number" class="form-control"
						id="choiceReactionTrial" data-ng-disabled="experiment_flag"
						data-ng-model="exp_trial" placeholder="Enter number between 1-100">
				</div>

				<div class="form-group">
					<label for="choiceReactionTargetAlternative">Select No. of alternatives</label>

					<div class="form-check">
						<input class="form-input" type="radio"
							data-ng-disabled="experiment_flag"
							data-ng-model="target_alternative.options"
							data-ng-change="create_target()"
							name="choiceReactionTargetAlternative" id="targetOption1" value="2">
						<label class="form-check-label" for="targetOption1">Two alternative experiment</label>
					</div>

					<div class="form-check">
						<input class="form-input" type="radio"
							data-ng-disabled="experiment_flag"
							data-ng-model="target_alternative.options"
							data-ng-change="create_target()"
							name="choiceReactionTargetAlternative" id="targetOption2" value="4">
						<label class="form-check-label" for="targetOption2">Four alternative experiment</label>
					</div>

					<div class="form-check">
						<input class="form-input" type="radio"
							data-ng-disabled="experiment_flag"
							data-ng-model="target_alternative.options"
							data-ng-change="create_target()"
							name="choiceReactionTargetAlternative" id="targetOption3" value="8">
						<label class="form-check-label" for="targetOption3">Eight alternative experiment</label>
					</div>
				</div>

			</form>
			<button type="submit" class="btn btn-primary btn-block"
				data-ng-disabled="experiment_flag || result_btn_flag"
				data-ng-click="start_cr_experiment()">Start
				Experiment</button>
			<br>
			<button type="button" class="btn btn-primary btn-block"
				data-ng-disabled="experiment_flag"
				data-ng-click="new_cr_experiment()">New Experiment</button>
			<br>
			<button type="button" class="btn btn-primary btn-block"
				data-ng-disabled="!experiment_flag"
				data-ng-click="exit_cr_experiment()">Exit
				Experiment</button>
			<br>
			<div>
				Current Trial: <span data-ng-model="exp_trial_left">{{current_trial}}/{{exp_trial}}</span>
			</div>
		</div>
			<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
			<h1 data-ng-show="show_info_text" class="text-center">{{cr_info_text}}</h1>
			<div style="float:left;" data-ng-show="show_target" id="alternate_target_options">{{cr_target_num}}</div>
		</div>
	</div>
	
		<div class="row">
		<br>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"
			style="background-color: #ddd;">
			<div data-ng-hide="show_result_flag" class="sr_decision_section">
			<p>use number keys(1-8) on keyboard when respond OR use below buttons</p>
				<p>{{alternative_option_info}}</p>
				<button id="action_response_1" type="button" data-ng-disabled="!experiment_flag || !wait_for_cr_flag || (target_alternative.options==2 || target_alternative.options==4)"
					data-ng-click=action_response(1) style="width: 78px"
					class="btn btn-success">1</button>
					<button id="action_response_2" type="button" data-ng-disabled="!experiment_flag || !wait_for_cr_flag || (target_alternative.options==2 || target_alternative.options==4)"
					data-ng-click=action_response(2) style="width: 78px"
					class="btn btn-success">2</button>
					<button id="action_response_3" type="button" data-ng-disabled="!experiment_flag || !wait_for_cr_flag || (target_alternative.options==2)"
					data-ng-click=action_response(3) style="width: 78px"
					class="btn btn-success">3</button>
					<button id="action_response_4" type="button" data-ng-disabled="!experiment_flag || !wait_for_cr_flag"
					data-ng-click=action_response(4) style="width: 78px"
					class="btn btn-success">4</button>
					<button id="action_response_5" type="button" data-ng-disabled="!experiment_flag || !wait_for_cr_flag"
					data-ng-click=action_response(5) style="width: 78px"
					class="btn btn-success">5</button>
					<button id="action_response_6" type="button" data-ng-disabled="!experiment_flag || !wait_for_cr_flag || (target_alternative.options==2)"
					data-ng-click=action_response(6) style="width: 78px"
					class="btn btn-success">6</button>
					<button id="action_response_7" type="button" data-ng-disabled="!experiment_flag || !wait_for_cr_flag || (target_alternative.options==2 || target_alternative.options==4)"
					data-ng-click=action_response(7) style="width: 78px"
					class="btn btn-success">7</button>
					<button id="action_response_8" type="button" data-ng-disabled="!experiment_flag || !wait_for_cr_flag || (target_alternative.options==2 || target_alternative.options==4)"
					data-ng-click=action_response(8) style="width: 78px"
					class="btn btn-success">8</button>
			</div>
			<div data-ng-show="show_result_flag" class="sr_result_section">
				<p>Click on view result button to view the results of the
					experiment</p>
				<button type="button" data-ng-disabled="!show_result_flag"
					data-ng-click=view_cr_result() class="btn btn-success">View
					Results</button>
			</div>
		</div>
	</div>
	
		<!-- Modal to show results of experiment -->
	<div class="modal fade" id="cr_result_Modal" tabindex="-1" role="dialog" aria-labelledby="cr_result_Modal_Label"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="cr_result_Modal_Label">Experiment
						Result</h2>
				</div>
				<div class="modal-body result-modal-body">
					<!-- result table section inside modal starts here -->
					<div class="table-responsive">
						<table id="tblChoiceReaction" class="table table-bordered">
							<thead>
								<tr>
									<th>Trial</th>
									<th>response time</th>
									<th>response</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="result in result_json">
									<td>{{result.trial}}</td>
									<td>{{result.response_time}} seconds</td>
									<td>{{result.response}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- result table section inside modal close here -->
				</div>
				<div class="modal-footer">
					<button type="button" value="export" class="btn btn-primary"
						data-ng-click="export_results()" data-dismiss="modal">Download</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
</div>